<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Directory for storeing layer files, tables, and shape files -->
    <add key="BaseDataPath" value="G:\Orthophotography\MosaicOrtho\" />
    <!-- Geodatabase for mosaic datasets for different years -->
    <add key="MosaicDatabase" value="G:\Orthophotography\MosaicOrtho\GIS_TOA_Aerial\Amherst_Ortho_Mosaic.gdb" />
    <!-- Default directory for dave map -->
    <!--
    <add key="MapSaveDir" value="C:\" />-->
    <!-- Geodatabase for mosaic datasets for different years -->
    <add key="BaseMapLyrPath" value="G:\GIS\Layerfiles\BaseMap.lyr" />
  </appSettings>

</configuration>