<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Directory for storeing layer files, tables, and shape files -->
    <add key="BaseDataPath" value="H:\10.102.1.187\driveOne106G\GIS_Warehouse\Orthophotography\MosaicOrtho\" />
    <!-- Geodatabase for mosaic datasets for different years -->
    <add key="MosaicDatabase" value="H:\10.102.1.187\driveOne106G\GIS_Warehouse\Orthophotography\MosaicOrtho\GIS_TOA_Aerial\Amherst_Ortho_Mosaic.gdb" />
    <!-- Default directory for dave map -->
    <!--
    <add key="MapSaveDir" value="C:\" />-->
    <!-- Geodatabase for mosaic datasets for different years -->
    <add key="BaseMapLyrPath" value="H:\10.102.1.187\driveOne106G\GIS_Warehouse\GIS\Layerfiles\BaseMap2.lyr" />
  </appSettings>

</configuration>